    body{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-image: url("https://media.istockphoto.com/vectors/poker-table-background-in-green-color-vector-id1206505282?k=20&m=1206505282&s=170667a&w=0&h=j09v0BNrOoSeamfC50A58ElFnxXaRLyIFUbG8xtn6LM=");
        background-size: cover; 
        text-align: center;
        color:white;
        font-weight: bold;
    }
    
    h1 {
        color: goldenrod;
    }

    #message-el{
        font-style: italic;
    }
    button{
        color: #016f32;
        width: 150px;
        background: goldenrod;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: bold;
        border: none;
        border-radius: 2px;
        margin-bottom: 2px;
        margin-top: 2px;
    }